@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import './icon.css';
@import './card.css';


:root {
  --main-bg-color: #e2e8f0;
  --cor-branca: #fff;
  --azul-da-pagina: #1992d4;
}

* {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: 8rem 1fr auto;
  grid-template-areas:
    "navbar header"
    "navbar main";
}

/* aqui fica os configs do header e area de pesquisa e do usuario */
header {
  grid-area: header;
  background-color: var(--cor-branca);
  padding: 0em 1em;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-rows: 3rem 5rem;
  grid-template-columns: auto;
  grid-template-areas:
    "area-pesquisa"
    "area-usuario";
}

.area-pesquisa {
  top: 0;
  grid-area: area-pesquisa;
}

.area-pesquisa input {
  width: 60%;
  height: 4vh;
  border-radius: 50px;
  background-color: var(--main-bg-color);
  margin: 1rem 8rem 1rem 1rem;

}

.img-perfil {
  border-radius: 50px;
  margin: 0rem 2rem 0rem 2rem;


}

.img-perfil-ausuario {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  object-fit: cover;
}

.area-usuario {
  grid-area: area-usuario;
  display: flex;
  align-items: center;
  /* Alinha verticalmente tudo */
  justify-content: space-between;
  /* Separa esquerda e direita */
  padding: 1.5rem 1rem;
  height: 100%;
}

.area-usuario p {
  margin: 0;
  line-height: 1.2;
  font-size: 1rem;
}


.perfil-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.perfil-info span {
  font-size: 13px;
}

.perfil-info p {
  font-size: 20px;
  padding-bottom: 20px;
}


.botoes-usuario {
  display: flex;
  gap: 0.5rem;
}

.button-usuario {
  background-color: var(--azul-da-pagina);
  color: var(--cor-branca);
  font-size: 15px;
  width: 7vw;
  height: 5vh;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.titulo-dashboard {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
}

/* Aqui fica todas as configurações do aside e da navbar */
aside {
  grid-area: navbar;
  background-color: var(--azul-da-pagina);
  height: 100vh;
  overflow-y: auto;
  padding: 1rem 0 0 1rem;
}

aside .first-list {
  list-style: none;
  height: 7vh;
  margin: 0 0 16rem 0;
}

aside .second-list {
  list-style: none;
  height: 7vh;
  margin: 0 0 50rem 0;
}

aside li {
  margin: 0;
  padding: 0.5rem 0;
}

aside a,
h1 {
  color: var(--cor-branca);
  text-decoration: none;
}

aside h1 {
  height: 10vh;
}

/* aqui vamos deixar o main dapágina funcionando */

main {
  height: 80vh;
  overflow-y: auto;
  display: grid;
  grid-template-areas:
    "projects announcements"
    "projects trending";
  grid-template-columns: 3fr 1fr;
  gap: 1.5rem;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
}

.projects {
  background-color:var(--main-bg-color);
  grid-area: projects;
  padding: 1.5rem;
  display: grid;
  width: 65vw;
}

.announcements {
  background-color: yellow;
  grid-area: announcements;
  width: 15vw;
  height: 50vh;
}

.trending {
  background-color: red;
  grid-area: trending;
  width: 15vw;
  height: 50vh;
}