@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    font-family: "Roboto",sans-serif;
    display: grid;
    grid-template-columns: 12rem 1fr;
    grid-template-rows: 5rem 1fr auto;
     grid-template-areas:
        "navbar header"
        "navbar main"
        "navbar main";
}
header{
     grid-area: header;
    background-color: rgb(255, 255, 0);
    padding: 1em;
    position:sticky;
    top: 0;
}
aside {
    grid-area: navbar;
    background-color: aqua;
}
main {
    grid-area: main;
    background-color: aquamarine;
}